<c-row ngPreserveWhitespaces>
  <!--<c-col xs="12">
  </c-col>
  <c-col xs="6">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Select</strong> <small>Default</small>
      </c-card-header>
      <c-card-body>
        <app-select-parameters [parameterList]="listTypes" (onRowChange)="selectUser($event)"></app-select-parameters>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="6">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Select</strong> <small>Default 2</small>
      </c-card-header>
      <c-card-body>
        <app-select-parameters [parameterList]="listTypes" (onRowChange)="selectUser($event)"></app-select-parameters>

      </c-card-body>
    </c-card>
  </c-col>-->

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>{{typeName}}</strong> <small>100 registros encontrados</small>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          Servicio para administrar parametros del sistema, modulo de {{typeName.toUpperCase()}}, para crear un nuevo registro presione:
          <code>Crear Registro</code>
        </p>
        <div class="d-grid gap-2 col-3 mx-auto" align="left">
          <button cButton color="primary" (click)="openModal()" *ngTemplateOutlet="liveDemo">Crear
            Registro</button>
        </div>
        <table cTable *ngIf="isVisible">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col" *ngIf="haveInitials">Iniciales</th>
              <th scope="col">Estado</th>
              <th scope="col">Creado por: </th>
              <th scope="col">Creado en: </th>
              <th scope="col">Modificado en:</th>
              <th scope="col">Acciones</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of visibleItems()">
              <td>{{row.description}}</td>
              <td *ngIf="haveInitials">{{row.initial}}</td>
              <td>
                <c-badge class="me-1" color="{{row.isDeleted ? 'danger' : 'success'}}">{{(row.isDeleted ? 'INACTIVO' :
                  'ACTIVO')}}</c-badge>
              </td>
              <td>{{row.userCreation}}</td>
              <td>{{row.dateCreation | date:'medium' }}</td>
              <td>{{row.dateModification | date:'medium'}}</td>
              <td>
                <button
                  color="warning"
                  cButton
                  class="me-1"
                  shape="rounded-pill"
                  (click)="editRow(row)"
                  disabled="{{ row.isDeleted }}"
                >
                  <svg cIcon class="me-2" name="cil-pencil"></svg>
                </button>
              </td>
              <td>
                <button
                  color="{{ row.isDeleted ? 'success' : 'danger' }}"
                  cButton
                  class="me-1"
                  shape="rounded-pill"
                  (click)="enableOrDisable(row)"
                >
                  <svg
                    cIcon
                    class="me-2"
                    [name]="row.isDeleted ? 'cil-check' : 'cil-trash'"
                  ></svg>
                </button>
              </td>
            </tr>
          </tbody>
          <br>
          <app-pagination
          [totalItems]="listTypes.length"
          [itemsPerPage]="itemsPerPage"
          [currentPage]="currentPage"
          (pageChanged)="onPageChange($event)"
        ></app-pagination>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-alert color="info" *ngIf="!isVisible">{{message}}</c-alert>

<app-global-alerts *ngIf="visible" [visible]="visible" [message]="message"></app-global-alerts>

<ng-template #liveDemo>
  <button (click)="openModal()" cButton>Crear Registro</button>
  <c-modal id="liveDemoModal" [visible]="liveDemoVisible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
      <h5 cModalTitle>{{actionRow === 0 ? 'Crear' : 'Actualizar'}} Registro</h5>
      <button (click)="closeModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <c-col xs="12">
        <c-card class="mb-4">
          <c-card-body>
            <form cForm [formGroup]="form">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Nombre</label>
                <input type="text" formControlName="name" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" autoComplete="name" cFormControl
                  placeholder="Nombre" />
                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                  <div *ngIf="f['name'].errors['required']">name is required</div>
                  <div *ngIf="f['name'].errors['email']">Email is invalid</div>
                  <div *ngIf="f['name'].errors['minlength']">
                    name must be at least 6 characters
                  </div>
                  <div *ngIf="f['name'].errors['maxlength']">
                    name must not exceed 20 characters
                  </div>
                </div>
              </div>
              <div class="mb-3" *ngIf="haveInitials">
                <label cLabel for="exampleFormControlTextarea1">Iniciales</label>
                <input type="text" formControlName="initial" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['initial'].errors }" autoComplete="initial" cFormControl
                  placeholder="Iniciales" />
                <div *ngIf="submitted && f['initial'].errors" class="invalid-feedback">
                  <div *ngIf="f['initial'].errors['required']">name is required</div>
                  <div *ngIf="f['initial'].errors['email']">Email is invalid</div>
                  <div *ngIf="f['initial'].errors['minlength']">
                    Iniciales must be at least 6 characters
                  </div>
                  <div *ngIf="f['initial'].errors['maxlength']">
                    Iniciales must not exceed 20 characters
                  </div>
                </div>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="closeModal()" cButton color="secondary">
        Close
      </button>
      <button cButton color="primary" (click)="createOrUpdate()">Save changes</button>
    </c-modal-footer>
  </c-modal>
</ng-template>
