<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-12">
      <c-card-header class="d-flex justify-content-between" ngPreserveWhitespaces>
        <strong>{{ typeName.toUpperCase() }}
          <small class="text-success">({{ totalItemsCount }} registros encontrados)</small>
        </strong>
        <div *ngTemplateOutlet="liveDemo">
            <button cButton type="submit" class="btn-info ml-auto" (click)="openModal()">
              <i class="cil-plus"></i> Crear registro
            </button>
          </div>
      </c-card-header>
      <c-card-body>
        <form cForm class="row g-3" [formGroup]="formSearch">
          <c-col [md]="6">
            <label cLabel for="nameLabel">Nombre</label>
            <input type="text" formControlName="name" class="form-control" autoComplete="name" cFormControl
              placeholder="Ingrese Nombre" />
          </c-col>
          <c-col [md]="6">
            <label cLabel for="statusLabel">Estado</label>
            <div class="custom-select">
              <select class="form-control" id="select-search-status" formControlName="statusSelected">
                <option value="" selected>Todos</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
              </select>
            </div>
          </c-col>
          <c-col [xs]="12">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <button cButton type="submit" class="btn-gray" style="margin-right: 8px" (click)="downloadPdf()">
                  <i class="cil-file"></i> Generar Reporte
                </button>
              </div>
              <div>
                <button cButton type="submit" class="btn-warning" (click)="filterSearch(true)"
                  style="margin-right: 8px">
                  <i class="cil-x-circle"></i> Limpiar
                </button>
                <button cButton type="submit" (click)="filterSearch(false)">
                  <i class="cil-magnifying-glass"></i> Buscar
                </button>
              </div>
            </div>
          </c-col>
        </form>
        <div id="pdf-content">
          <table cTable *ngIf="isVisible">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col" *ngIf="haveInitials">Iniciales</th>
                <th scope="col">Creado por</th>
                <th scope="col">Creado en</th>
                <th scope="col">Modificado por</th>
                <th scope="col">Modificado en</th>
                <th scope="col">Estado</th>
                <th scope="col" *ngIf="isAdmin">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of visibleItems()">
                <td>{{ row.description }}</td>
                <td *ngIf="haveInitials">{{ row.initial }}</td>
                <td>{{ row.userCreation }}</td>
                <td>{{ row.dateCreation | date : "medium" }}</td>
                <td>{{ row.userModification }}</td>
                <td>{{ row.dateModification | date : "medium" }}</td>
                <td>
                  <c-badge class="me-1" color="{{ row.isDeleted ? 'danger' : 'success' }}">{{ row.isDeleted ? "INACTIVO"
                    : "ACTIVO" }}</c-badge>
                </td>
                <td>
                  <div class="d-flex gap-2" *ngIf="isAdmin">
                    <button color="warning" cButton class="me-1" shape="rounded-pill" (click)="editRow(row)"
                      [disabled]="row.isDeleted">
                      <svg cIcon name="cil-pencil"></svg>
                    </button>
                    <button color="{{ row.isDeleted ? 'success' : 'danger' }}" cButton class="me-1" shape="rounded-pill"
                      (click)="enableOrDisable(row)">
                      <svg cIcon [name]="row.isDeleted ? 'cil-check' : 'cil-trash'"></svg>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
            <br />
            <app-pagination [totalItems]="listTypes.length" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
              (pageChanged)="onPageChange($event)"></app-pagination>
          </table>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-alert color="info" *ngIf="!isVisible">{{ message }}</c-alert>

<app-global-alerts *ngIf="visible" [visible]="visible" [message]="message"></app-global-alerts>

<ng-template #liveDemo>
  <button (click)="openModal()" cButton class="btn-success" *ngIf="isAdmin">
    <i class="cil-plus"></i> Crear registro
  </button>
  <c-modal id="liveDemoModal" [visible]="liveDemoVisible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
      <h5 cModalTitle>
        {{ actionRow === 0 ? "Crear" : "Actualizar" }} Registro
      </h5>
      <button (click)="closeModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <c-col xs="12">
        <c-card class="mb-4">
          <c-card-body>
            <form cForm [formGroup]="form">
              <div class="mb-3">
                <label cLabel for="nameInput">Nombre</label>
                <input appOnlyLetters noAutocomplete maxlength="55" type="text" formControlName="name"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" cFormControl
                  placeholder="Nombre" />
                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                  <div *ngIf="f['name'].errors['required']">
                    El campo es Requerido (*)
                  </div>

                  <div *ngIf="f['name'].errors['minlength']">
                    No puede contener menos de 5 caracteres
                  </div>
                  <div *ngIf="f['name'].errors['maxlength']">
                    No puede contener mas de 50 caracteres
                  </div>
                </div>
              </div>
              <div class="mb-3" *ngIf="haveInitials">
                <label cLabel for="labelInitials">Iniciales</label>
                <input type="text" appOnlyLetters noAutocomplete formControlName="initial" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['initial'].errors }" autoComplete="initial" cFormControl
                  placeholder="Iniciales" />
                <div *ngIf="submitted && f['initial'].errors" class="invalid-feedback">
                  <div *ngIf="f['initial'].errors['minlength']">
                    No puede contener menos 1 caracter
                  </div>
                  <div *ngIf="f['initial'].errors['maxlength']">
                    No puede contener mas de 5 caracteres
                  </div>
                </div>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="closeModal()" cButton color="danger" style="color: white">
        <i class="cil-x"></i> Cerrar
      </button>

      <button cButton color="success" (click)="createOrUpdate()" style="color: white">
        <i class="cil-save"></i> Guardar
      </button>
    </c-modal-footer>
  </c-modal>
</ng-template>
