<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-3">
      <c-card-header ngPreserveWhitespaces>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <strong style="text-align: left;">Seguimiento y Control de Padres o Tutores legales</strong>
          <button cButton type="submit" class="btn-gray" style="margin-left: 8px;" (click)="downloadPdf()">
            <i class="cil-file"></i> Generar Reporte
          </button>
        </div>
      </c-card-header>
      <c-card-body>
        <c-nav variant="pills">
          <c-nav-item>
            <a [cTabContent]="tabContent3" [routerLink] [tabPaneIdx]="0" cNavLink (click)="getListParents()">
              <svg cIcon class="me-2" name="cilHome"></svg>
              Busqueda
            </a>
          </c-nav-item>
          <c-nav-item *ngIf="isAdmin">
            <a [cTabContent]="tabContent3" [routerLink] [tabPaneIdx]="1" cNavLink (click)="getParameters()">
              <svg cIcon class="me-2" name="cilUser"></svg>
              Gestion
            </a>
          </c-nav-item>
        </c-nav>
        <c-tab-content #tabContent3="cTabContent" cRounded="bottom" (activeTabPaneIdxChange)="changeTab($event)"
          [activeTabPaneIdx]="tabindex">
          <c-tab-pane aria-labelledby="docs-code-preview" class="p-3 preview" role="tabpanel">
            <strong>{{ typeName }}</strong>
            <small>{{ this.listTypes.length }}</small> registros encontrados
            <p class="text-medium-emphasis small">
              Administracion del modulo de Padres, si desea crear un nuevo
              registro, presione:
              <code>Gestion</code>
            </p>
            <table cTable *ngIf="isVisible">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Estado Civil</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Creado por</th>
                  <th scope="col">Creado en</th>
                  <th scope="col">Modificado por</th>
                  <th scope="col">Modificado en</th>
                  <th scope="col" *ngIf="isAdmin">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of visibleItems()">
                  <td>
                    {{ row.name }} {{ row.firstLastName }}
                    {{ row.secondLastName }}
                  </td>
                  <td>
                    {{ row.maritalStatus }}
                  </td>
                  <td>
                    <c-badge class="me-1" color="{{ row.isDeleted ? 'danger' : 'success' }}">{{ row.isDeleted ?
                      "INACTIVO" : "ACTIVO" }}</c-badge>
                  </td>
                  <td>{{ row.userCreation }}</td>
                  <td>{{ row.dateCreation | date : "yyyy/MM/dd hh:mm:ss" }}</td>
                  <td>{{ row.userModification }}</td>
                  <td>
                    {{ row.dateModification | date : "yyyy/MM/dd hh:mm:ss" }}
                  </td>
                  <td *ngIf="isAdmin">
                    <button color="warning" cButton class="me-1" shape="rounded-pill" (click)="editRow(row)"
                      disabled="{{ row.isDeleted }}">
                      <svg cIcon class="me-2" name="cil-pencil"></svg>
                    </button>
                    <button color="{{row.isDeleted ? 'success' : 'danger'}}" cButton class="me-1" shape="rounded-pill"
                      (click)="enableOrDisable(row)">
                      <svg cIcon class="me-2" [name]="row.isDeleted ? 'cil-check' : 'cil-trash'"></svg>
                    </button>
                  </td>
                </tr>
              </tbody>
              <br />
              <app-pagination [totalItems]="listTypes.length" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
                (pageChanged)="onPageChange($event)"></app-pagination>
            </table>
          </c-tab-pane>
          <c-tab-pane aria-labelledby="docs-code-preview" class="p-3 preview" role="tabpanel">
            <form cForm class="row g-3" [formGroup]="form">
              <c-col [md]="6">
                <label cLabel for="nameLabel">Nombre</label>
                <input type="text" formControlName="name" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" cFormControl placeholder="Ingrese Nombre"
                  appOnlyLetters noAutocomplete maxlength="50" />
                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                  <div *ngIf="f['name'].errors['required']">Campo Requerido (*)</div>
                  <div *ngIf="f['name'].errors['minlength']">
                    Al menos debe contener 3 caracteres
                  </div>
                  <div *ngIf="f['name'].errors['maxlength']">
                    Maximo debe contener 50 caracteres
                  </div>
                </div>
              </c-col>
              <c-col [md]="6">
                <label cLabel for="lastNameLabel">Apellido Paterno</label>
                <input type="text" formControlName="firstLastName" class="form-control" [ngClass]="{
                    'is-invalid': submitted && f['firstLastName'].errors
                  }" cFormControl placeholder="Ingrese Apellido Paterno" appOnlyLetters noAutocomplete
                  maxlength="50" />
                <div *ngIf="submitted && f['firstLastName'].errors" class="invalid-feedback">
                  <div *ngIf="f['firstLastName'].errors['required']">
                    Campo Requerido (*)
                  </div>
                  <div *ngIf="f['firstLastName'].errors['minlength']">
                    Al menos 3 caracteres
                  </div>
                  <div *ngIf="f['firstLastName'].errors['maxlength']">
                    maximo 50 caracteres
                  </div>
                </div>
              </c-col>
              <c-col [md]="6">
                <label cLabel for="secondLastNameLabel">Apellido Materno</label>
                <input type="text" formControlName="secondLastName" class="form-control" [ngClass]="{
                    'is-invalid': submitted && f['secondLastName'].errors
                  }" cFormControl placeholder="Ingrese Apellido Materno" appOnlyLetters noAutocomplete
                  maxlength="50" />
                <div *ngIf="submitted && f['secondLastName'].errors" class="invalid-feedback">
                  <div *ngIf="f['secondLastName'].errors['minlength']">
                    al menos 3 caracteres
                  </div>
                  <div *ngIf="f['secondLastName'].errors['maxlength']">
                    maximo 50 caracteres
                  </div>
                </div>
              </c-col>
              <c-col [md]="12">
                <label cLabel for="address">Direccion</label>
                <input type="text" formControlName="address" class="form-control" [ngClass]="{
                    'is-invalid': submitted && f['address'].errors
                  }" cFormControl placeholder="Ingrese Direccion" appOnlyLetters noAutocomplete maxlength="100" />
                <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                  <div *ngIf="f['address'].errors['required']">Campo Requerido (*)</div>
                  <div *ngIf="f['address'].errors['minlength']">
                    al menos 10 caracteres
                  </div>
                  <div *ngIf="f['address'].errors['maxlength']">
                    Maximo 100 caracteres
                  </div>
                </div>
              </c-col>
              <c-col [md]="6" *ngIf="isVisibleSex">
                <label cLabel>Sexo</label>
                <app-select-parameters [parameterList]="listSexs" [selectedValue]="selectedSex"
                  (onRowChange)="onSelectedSex($event)"></app-select-parameters>
              </c-col>
              <c-col [md]="6" *ngIf="isVisibleBlood">
                <label cLabel>Tipo de Sangre</label>
                <app-select-parameters [parameterList]="listBloods" [selectedValue]="selectedBlood"
                  (onRowChange)="onSelectedBlood($event)"></app-select-parameters>
              </c-col>
              <c-col [md]="6" *ngIf="isVisibleDocumentType">
                <label cLabel>Tipo de Documento</label>
                <app-select-parameters [parameterList]="listDocumentTypes" [selectedValue]="selectedDocumentType"
                  (onRowChange)="onSelectedDocumentType($event)"></app-select-parameters>
              </c-col>
              <c-col [md]="6" *ngIf="isVisibleMaritalStatus">
                <label cLabel>Estado Civil</label>
                <app-select-parameters [parameterList]="listMaritalStatus" [selectedValue]="selectedMaritalStatus"
                  (onRowChange)="onSelectedMaritalStatus($event)"></app-select-parameters>
              </c-col>
              <c-col [md]="6">
                <label cLabel for="documentNumberLabel">Numero de Documento</label>
                <input type="text" formControlName="documentNumber" class="form-control" [ngClass]="{
                    'is-invalid': submitted && f['documentNumber'].errors
                  }" cFormControl placeholder="Ingrese Numero de Documento" appOnlyLettersAndNumbers noAutocomplete
                  maxlength="10" />
                <div *ngIf="submitted && f['documentNumber'].errors" class="invalid-feedback">
                  <div *ngIf="f['documentNumber'].errors['required']">
                    Campo Requerido (*)
                  </div>
                  <div *ngIf="f['documentNumber'].errors['minlength']">
                    Al menos 8 caracteres
                  </div>
                  <div *ngIf="f['documentNumber'].errors['maxlength']">
                    Maximo 10 caracteres
                  </div>
                </div>
              </c-col>
              <c-col [md]="6">
                <label cLabel for="placeBornLabel">Lugar de Nacimiento</label>
                <input type="text" formControlName="placeBorn" class="form-control" [ngClass]="{
                    'is-invalid': submitted && f['placeBorn'].errors
                  }" cFormControl placeholder="Ingrese Lugar de Nacimiento" appOnlyLettersAndNumbers noAutocomplete
                  maxlength="60" />
                <div *ngIf="submitted && f['placeBorn'].errors" class="invalid-feedback">
                  <div *ngIf="f['placeBorn'].errors['required']">
                    Campo Requerido (*)
                  </div>
                  <div *ngIf="f['placeBorn'].errors['minlength']">
                    Al menos 5 caracteres
                  </div>
                  <div *ngIf="f['placeBorn'].errors['maxlength']">
                    Maximo 60 Caracteres
                  </div>
                </div>
              </c-col>
              <c-col [md]="6">
                <label cLabel for="phoneNumberLabel">Nro de Contacto</label>
                <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{
                    'is-invalid': submitted && f['phoneNumber'].errors
                  }" cFormControl placeholder="Ingrese Nro de Contacto" appOnlyNumbers noAutocomplete maxlength="8" />
                <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
                  <div *ngIf="f['phoneNumber'].errors['required']">
                    Campo Requerido (*)
                  </div>
                  <div *ngIf="f['phoneNumber'].errors['minlength']">
                    Al menos 8 caracteres
                  </div>
                  <div *ngIf="f['phoneNumber'].errors['maxlength']">
                    Maximo 8 caracteres
                  </div>
                </div>
              </c-col>
              <c-col [xs]="12">
                <button cButton type="submit" (click)="createOrUpdate()">
                  {{ this.actionRow === 0 ? "Registrar" : "Actualizar" }}
                </button>
              </c-col>
            </form>
          </c-tab-pane>
        </c-tab-content>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-alert color="info" *ngIf="!isVisible">{{ message }}</c-alert>
<app-global-alerts *ngIf="visible" [visible]="visible" [message]="message"></app-global-alerts>
