<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-3">
      <c-card-header ngPreserveWhitespaces>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <strong style="text-align: left;">Seguimiento y Control de Pagos</strong>
          <button cButton type="submit" class="btn-gray" style="margin-left: 8px;" (click)="downloadPdf()">
            <i class="cil-file"></i> Generar Reporte
          </button>
        </div>
      </c-card-header>
      <c-card-body>
        <c-nav variant="pills">
          <c-nav-item>
            <a
              [cTabContent]="tabContent3"
              [routerLink]
              [tabPaneIdx]="0"
              cNavLink
              (click)="getListTutors()"
            >
              <svg cIcon class="me-2" name="cilHome"></svg>
              Busqueda
            </a>
          </c-nav-item>
          <c-nav-item *ngIf="isAdmin">
            <a
              [cTabContent]="tabContent3"
              [routerLink]
              [tabPaneIdx]="1"
              cNavLink
              (click)="getParametersTutors()"
            >
              <svg cIcon class="me-2" name="cilUser"></svg>
              Gestion
            </a>
          </c-nav-item>
          <!--<c-nav-item>
            <a [cTabContent]="tabContent3" [routerLink] [tabPaneIdx]="2" cNavLink>
              <svg cIcon class="me-2" name="cilCode"></svg>
              Contact
            </a>
          </c-nav-item>-->
        </c-nav>
        <c-tab-content
          #tabContent3="cTabContent"
          cRounded="bottom"
          (activeTabPaneIdxChange)="changeTab($event)"
          [activeTabPaneIdx]="tabindex"
        >
          <c-tab-pane
            aria-labelledby="docs-code-preview"
            class="p-3 preview"
            role="tabpanel"
          >
            <strong>{{ typeName }}</strong>
            <small>{{ this.listTypes.length }}</small> registros encontrados
            <p class="text-medium-emphasis small">
              Seguimiento y Control de Pagos, si desea crear un nuevo registro,
              presione:
              <code>Gestion</code>
            </p>
            <form cForm class="row g-3" [formGroup]="formSearch">
              <c-col [md]="6" *ngIf="isVisibleKid">
                <label cLabel>Niños </label>
                <app-selector-generic
                  [parameterList]="kidsList"
                  [enableAllOptions]="true"
                  (onRowChange)="onSelectedKidFilter($event)"
                ></app-selector-generic
              ></c-col>
              <c-col [md]="6" *ngIf="isVisibleBranchOfficeStatus">
                <label cLabel>Sucursal </label>
                <app-select-parameters
                  [parameterList]="listBranchOfficeStatus"
                  [enableAllOptions]="true"
                  (onRowChange)="onSelectedBranchOfficeFilter($event)"
                ></app-select-parameters
              ></c-col>
              <c-col [md]="6" *ngIf="isVisibleRoom">
                <label cLabel>Sala</label>
                <app-select-parameters
                  [parameterList]="listRooms"
                  [enableAllOptions]="true"
                  (onRowChange)="onSelectedRoomFilter($event)"
                ></app-select-parameters
              ></c-col>
              <c-col [md]="6" *ngIf="isVisibleAuditPaymentType">
                <label cLabel>Estado de Pago</label>
                <app-select-parameters
                  [parameterList]="listPaymentOperation"
                  [enableAllOptions]="true"
                  (onRowChange)="onSelectedPaymentOperationFilter($event)"
                ></app-select-parameters
              ></c-col>
              <c-col [xs]="12">
                <div class="d-flex justify-content-end">
                  <button
                    cButton
                    type="submit"
                    class="btn-warning"
                    (click)="filterSearch(true)"
                    style="margin: 0 8px"
                  >
                    <i class="cil-x-circle"></i> Limpiar
                  </button>
                  <button cButton type="submit" (click)="filterSearch(false)">
                    <i class="cil-magnifying-glass"></i> Buscar
                  </button>
                </div>
              </c-col>
            </form>
            <br />
            <table cTable *ngIf="isVisible" [hover]="true" [responsive]="true" [striped]="false" align="middle">
              <thead cTableColor="info">
                <tr>
                  <th scope="col">Detalles</th>
                  <th scope="col">Niño</th>
                  <th scope="col">Sala</th>
                  <th scope="col">Sucursal</th>
                  <th scope="col">Monto</th>
                  <th scope="col">Estado de Pago</th>
                  <th scope="col">Detalle</th>
                  <th scope="col">Observaciones</th>
                  <th scope="col">Creado por</th>
                  <th scope="col">Creado en</th>
                  <th scope="col">Modificado por</th>
                  <th scope="col">Modificado en</th>
                  <th scope="col">Verificacion</th>
                  <th scope="col">Estado</th>
                  <th scope="col" *ngIf="isAdmin">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let row of visibleItems(); let i = index">
                  <tr>
                    <td>
                        <button
                          color="info"
                          cButton
                          class="me-1"
                          shape="rounded-pill"
                          (click)="showDetails(row)"
                          [disabled]="row.isDeleted"
                        >
                      <i class="fas fa-{{row.showDetails ? 'minus' : 'plus'}}"></i>
                        </button>
                    </td>
                    <td>
                      {{ row.kid }}
                    </td>
                    <td>
                      {{ row.room }}
                    </td>
                    <td>
                      {{ row.branchOffice }}
                    </td>
                    <td>
                      {{ row.amount }}
                    </td>
                    <td>
                      <c-badge
                      class="me-1"
                      color="info"
                      >{{ row.paymentOperation }}</c-badge
                    >
                    </td>
                    <td>
                      {{ row.description }}
                    </td>
                    <td>
                      {{ row.observations }}
                    </td>
                    <td>{{ row.userCreation }}</td>
                    <td>
                      {{ row.dateCreation | date : "yyyy/MM/dd hh:mm:ss" }}
                    </td>
                    <td>{{ row.userModification }}</td>
                    <td>
                      {{ row.dateModification | date : "yyyy/MM/dd hh:mm:ss" }}
                    </td>
                    <td>
                      <c-badge
                        class="me-1"
                        color="{{ row.isVerified ? 'success' : 'warning' }}"
                        >{{ row.isVerified ? "VERIFICADO" : "NO VERIFICADO" }}</c-badge
                      >
                    </td>
                    <td>
                      <c-badge
                        class="me-1"
                        color="{{ !row.isDeleted ? 'success' : 'danger' }}"
                        >{{ !row.isDeleted ? "ACTIVO" : "INACTIVO" }}</c-badge
                      >
                    </td>
                    <td *ngIf="isAdmin">
                      <div class="d-flex gap-2">
                        <button
                          color="warning"
                          cButton
                          class="me-1"
                          shape="rounded-pill"
                          (click)="editRow(row)"
                          [disabled]="row.isDeleted"
                        >
                          <svg cIcon name="cil-pencil"></svg>
                        </button>
                        <button
                          color="{{ row.isDeleted ? 'success' : 'danger' }}"
                          cButton
                          class="me-1"
                          shape="rounded-pill"
                          (click)="modelCancel(row)"
                        >
                          <svg
                            cIcon
                            [name]="row.isDeleted ? 'cil-check' : 'cil-trash'"
                          ></svg>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="row.showDetails">
                    <td [attr.colspan]="9">
                      <div class="row">
                        <c-card class="mb-4">
                          <c-card-header>
                            <strong>Datos Complementarios</strong>
                          </c-card-header>
                          <c-card-body>
                            <c-accordion [flush]="true">
                              <c-accordion-item visible>
                                <ng-template cTemplateId="accordionHeader">
                                  <strong>Datos Generales del Padre</strong>
                                </ng-template>
                                <ng-template cTemplateId="accordionBody">
                                  <c-row class="g-3">
                                    <c-col [sm]="4">
                                      <div [cFormFloating]="true" class="mb-3">
                                        <input cFormControl id="floatingInputParent" placeholder="name@example.com" type="text" value="{{row.paymentDetails.parentName}}" readonly />
                                        <label cLabel for="floatingInput">Nombre Completo:</label>
                                      </div>
                                    </c-col>
                                    <c-col [sm]="4">
                                      <div cFormFloating>
                                        <input cFormControl id="floatingInputRelationP" type="text"  value="{{row.paymentDetails.parentRelation}}" readonly/>
                                        <label cLabel for="floatingInput">Parentezco:</label>
                                      </div>
                                    </c-col>
                                    <c-col [sm]="4">
                                      <div cFormFloating>
                                        <input cFormControl id="floatingInputMaritalStatusP" type="text" value="{{row.paymentDetails.parentMaritalStatus}}" readonly/>
                                        <label cLabel for="floatingInput">Estado Civil:</label>
                                      </div>
                                    </c-col>
                                  </c-row>
                                  <c-row class="g-3">
                                    <c-col [sm]="4">
                                      <div [cFormFloating]="true" class="mb-3">
                                        <input cFormControl id="floatingInputDocType" type="text" value="{{row.kid}}" value="{{row.paymentDetails.parentDocumentType}}" readonly />
                                        <label cLabel for="floatingInput">Tipo de Documento:</label>
                                      </div>
                                    </c-col>
                                    <c-col [sm]="4">
                                      <div cFormFloating>
                                        <input cFormControl id="floatingInputdoc" type="text" value="{{row.paymentDetails.parentDocumentNumber}}" readonly/>
                                        <label cLabel for="floatingInput">Nro de Documento:</label>
                                      </div>
                                    </c-col>
                                    <c-col [sm]="4">
                                      <div cFormFloating>
                                        <input cFormControl id="floatingInputTutorphonenumber" type="text" value="{{row.paymentDetails.parentPhoneNumber}}"readonly/>
                                        <label cLabel for="floatingInput">Numero de Contacto:</label>
                                      </div>
                                    </c-col>
                                  </c-row>
                                </ng-template>
                              </c-accordion-item>
                              <c-accordion-item [visible]="false">
                                <ng-template cTemplateId="accordionHeader">
                                  <strong>Datos Generales de Sala en la que se encuentra inscrito el menor</strong>
                                </ng-template>
                                <ng-template cTemplateId="accordionBody">
                                  <c-row class="g-3">
                                    <c-col [sm]="4">
                                      <div [cFormFloating]="true" class="mb-3">
                                        <input cFormControl id="floatingInputRoomkid" placeholder="name@example.com" type="text" value="{{row.paymentDetails.room}}" readonly />
                                        <label cLabel for="floatingInput">Sala</label>
                                      </div>
                                    </c-col>
                                    <c-col [sm]="4">
                                      <div cFormFloating>
                                        <input cFormControl id="floatingInputCitykid" type="text" value="{{row.paymentDetails.city}}" readonly/>
                                        <label cLabel for="floatingInput">Ciudad</label>
                                      </div>
                                    </c-col>
                                    <c-col [sm]="4">
                                      <div cFormFloating>
                                        <input cFormControl id="floatingInputBranchOfficekid" type="text" value="{{row.paymentDetails.branchOffice}}" readonly/>
                                        <label cLabel for="floatingInput">Sucursal</label>
                                      </div>
                                    </c-col>
                                  </c-row>
                                  <c-row class="g-3">
                                    <c-col [sm]="4">
                                      <div [cFormFloating]="true" class="mb-3">
                                        <input cFormControl id="floatingInputTurnkid" type="text" value="{{row.paymentDetails.turn}}" readonly />
                                        <label cLabel for="floatingInput">Turno</label>
                                      </div>
                                    </c-col>
                                    <c-col [sm]="4">
                                      <div cFormFloating>
                                        <input cFormControl id="floatingInputModalitykid" placeholder="Password" type="text" value="{{row.paymentDetails.modality}}" readonly/>
                                        <label cLabel for="floatingInput">Modalidad</label>
                                      </div>
                                    </c-col>
                                    <c-col [sm]="4">
                                      <div cFormFloating>
                                        <input cFormControl id="floatingcollaboratorName" type="text" value="{{row.paymentDetails.collaboratorName}}" readonly/>
                                        <label cLabel for="floatingInput">Colaborador Asignado</label>
                                      </div>
                                    </c-col>
                                  </c-row>
                                  <c-row class="g-3">
                                    <c-col [sm]="6">
                                      <div [cFormFloating]="true" class="mb-3">
                                        <input cFormControl id="floatingInputOstartDateKid" type="text" value="{{row.paymentDetails.startDateKid}}" readonly />
                                        <label cLabel for="floatingInput">Fecha de Ingreso</label>
                                      </div>
                                    </c-col>
                                    <c-col [sm]="6">
                                      <div cFormFloating>
                                        <input cFormControl id="floatingInputAntiquy" type="text" value="{{row.paymentDetails.antiquity}}" readonly/>
                                        <label cLabel for="floatingInput">Antiguedad</label>
                                      </div>
                                    </c-col>
                                  </c-row>
                                </ng-template>
                              </c-accordion-item>
                            </c-accordion>
                          </c-card-body>
                        </c-card>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <app-pagination
                [totalItems]="listTypes.length"
                [itemsPerPage]="itemsPerPage"
                [currentPage]="currentPage"
                (pageChanged)="onPageChange($event)"
              ></app-pagination>
          </c-tab-pane>
          <c-tab-pane
            aria-labelledby="docs-code-preview"
            class="p-3 preview"
            role="tabpanel"
          >
            <form cForm class="row g-3" [formGroup]="form">
              <c-col [md]="12" *ngIf="isVisibleEnrollData">
                <label cLabel>Lista de Inscritos </label>
                <app-selector-enroll-children
                  [parameterList]="listEnrollData"
                  [selectedValue]="selectedEnrollData"
                  (onRowChange)="onSelectedEnrollData($event)"
                ></app-selector-enroll-children
              ></c-col>
              <c-col [md]="12" *ngIf="isVisibleDetailKid && listEnrollData.length > 0">
                <div class="row">
                  <c-card class="mb-4">
                    <c-card-header>
                      <strong>Datos Complementarios</strong>
                    </c-card-header>
                    <c-card-body>
                      <c-accordion [flush]="true">
                        <c-accordion-item visible>
                          <ng-template cTemplateId="accordionHeader">
                            <strong>Datos Generales del Menor</strong>
                          </ng-template>
                          <ng-template cTemplateId="accordionBody">
                            <c-row class="g-3">
                              <c-col [sm]="4">
                                <div [cFormFloating]="true" class="mb-3">
                                  <input cFormControl id="floatingInputName" type="text" value="{{detailKid.kidName}}" readonly />
                                  <label cLabel for="floatingInput">Nombre Completo:</label>
                                </div>
                              </c-col>
                              <c-col [sm]="4">
                                <div cFormFloating>
                                  <input cFormControl id="floatingInputBornDate" type="text" value="data de prueba" value="{{detailKid.bornDateKid }} " readonly/>
                                  <label cLabel for="floatingInput">Fecha de Nacimiento:</label>
                                </div>
                              </c-col>
                              <c-col [sm]="4">
                                <div cFormFloating>
                                  <input cFormControl id="floatingInputAge" type="text" value="data de prueba" value="{{detailKid.ageKid}}" readonly/>
                                  <label cLabel for="floatingInput">Edad:</label>
                                </div>
                              </c-col>
                            </c-row>
                            <c-row class="g-3">
                              <c-col [sm]="4">
                                <div [cFormFloating]="true" class="mb-3">
                                  <input cFormControl id="floatingInputBloodType" type="text" value="{{detailKid.bloodTypeKid}}" readonly />
                                  <label cLabel for="floatingInput">Tipo de Sangre:</label>
                                </div>
                              </c-col>
                              <c-col [sm]="4">
                                <div cFormFloating>
                                  <input cFormControl id="floatingInputGenre" placeholder="Password" type="text" value="{{detailKid.sexKid}}" readonly/>
                                  <label cLabel for="floatingInput">Genero:</label>
                                </div>
                              </c-col>
                              <c-col [sm]="4">
                                <div cFormFloating>
                                  <input cFormControl id="floatingInputTutorQuantity" type="text" value="{{detailKid.quantityTutors}}"readonly/>
                                  <label cLabel for="floatingInput">Cantidad de Tutores Asignados:</label>
                                </div>
                              </c-col>
                            </c-row>
                          </ng-template>
                        </c-accordion-item>
                        <c-accordion-item [visible]="false">
                          <ng-template cTemplateId="accordionHeader">
                            <strong> Datos Generales de los Padres del menor</strong>
                          </ng-template>
                          <div>
                          <ng-template cTemplateId="accordionBody">
                            <div *ngFor="let parent of detailKid.parents">
                              <c-card class="mb-4">
                                <c-card-header>
                                  <strong>Tutor: {{parent.parentName}} - Autorizado para Recojo del Menor: <c-badge
                                    class="me-1"
                                    color="{{ parent.isAuthorized? 'success' : 'danger' }}"
                                    >{{ parent.isAuthorized ? "AUTORIZADO" : "NO AUTORIZADO" }}</c-badge
                                  ></strong>
                                </c-card-header>
                                <c-card-body>
                            <c-row class="g-3">
                              <c-col [sm]="4">
                                <div [cFormFloating]="true" class="mb-3">
                                  <input cFormControl id="floatingInputNameParent" type="text" value="{{parent.parentName}}" readonly />
                                  <label cLabel for="floatingInput">Nombre</label>
                                </div>
                              </c-col>
                              <c-col [sm]="4">
                                <div cFormFloating>
                                  <input cFormControl id="floatingInputRelationParent" type="text" value="{{parent.relation}}" readonly/>
                                  <label cLabel for="floatingInput">Parentezco</label>
                                </div>
                              </c-col>
                              <c-col [sm]="4">
                                <div cFormFloating>
                                  <input cFormControl id="floatingInputContactNumber" type="text" value="{{parent.phoneNumber}}" readonly/>
                                  <label cLabel for="floatingInput">Nro de Contacto</label>
                                </div>
                              </c-col>
                            </c-row>
                            <c-row class="g-3">
                              <c-col [sm]="4">
                                <div [cFormFloating]="true" class="mb-3">
                                  <input cFormControl id="floatingInputBloodTypeParent" type="text" value="{{parent.bloodTypeParent}}" readonly />
                                  <label cLabel for="floatingInput">Tipo de Sangre</label>
                                </div>
                              </c-col>
                              <c-col [sm]="4">
                                <div cFormFloating>
                                  <input cFormControl id="floatingInputGenreParent" type="text" value="{{parent.sexParent}}" readonly/>
                                  <label cLabel for="floatingInput">Genero</label>
                                </div>
                              </c-col>
                              <c-col [sm]="4">
                                <div cFormFloating>
                                  <input cFormControl id="floatingInputAddress" type="text" value="{{parent.address}}" readonly/>
                                  <label cLabel for="floatingInput">Direccion</label>
                                </div>
                              </c-col>
                            </c-row>
                            <c-row class="g-3">
                              <c-col [sm]="4">
                                <div [cFormFloating]="true" class="mb-3">
                                  <input cFormControl id="floatingInputMaritalStatusParent" type="text" value="{{parent.maritalStatus}}" readonly />
                                  <label cLabel for="floatingInput">Estado Civil</label>
                                </div>
                              </c-col>
                            </c-row>
                        </c-card-body>
                            </c-card>
                          </div>
                          </ng-template>
                          </div>
                        </c-accordion-item>
                        <c-accordion-item [visible]="false">
                          <ng-template cTemplateId="accordionHeader">
                            <strong>Datos Generales de Sala en la que se encuentra inscrito el menor</strong>
                          </ng-template>
                          <ng-template cTemplateId="accordionBody">
                            <c-row class="g-3">
                              <c-col [sm]="4">
                                <div [cFormFloating]="true" class="mb-3">
                                  <input cFormControl id="floatingInputRoom" type="text" value="{{detailKid.room}}" readonly />
                                  <label cLabel for="floatingInput">Sala</label>
                                </div>
                              </c-col>
                              <c-col [sm]="4">
                                <div cFormFloating>
                                  <input cFormControl id="floatingInputCity" type="text" value="{{detailKid.city}}" readonly/>
                                  <label cLabel for="floatingInput">Ciudad</label>
                                </div>
                              </c-col>
                              <c-col [sm]="4">
                                <div cFormFloating>
                                  <input cFormControl id="floatingInputBranchOffice" type="text" value="{{detailKid.branchOffice}}" readonly/>
                                  <label cLabel for="floatingInput">Sucursal</label>
                                </div>
                              </c-col>
                            </c-row>
                            <c-row class="g-3">
                              <c-col [sm]="4">
                                <div [cFormFloating]="true" class="mb-3">
                                  <input cFormControl id="floatingInputTurn" type="text" value="{{detailKid.turn}}" readonly />
                                  <label cLabel for="floatingInput">Turno</label>
                                </div>
                              </c-col>
                              <c-col [sm]="4">
                                <div cFormFloating>
                                  <input cFormControl id="floatingInputModality" placeholder="Password" type="text" value="{{detailKid.modality}}" readonly/>
                                  <label cLabel for="floatingInput">Modalidad</label>
                                </div>
                              </c-col>
                              <c-col [sm]="4">
                                <div cFormFloating>
                                  <input cFormControl id="floatingInputSchedule" type="text" value="{{detailKid.schedule}}" readonly/>
                                  <label cLabel for="floatingInput">Horario</label>
                                </div>
                              </c-col>
                            </c-row>
                            <c-row class="g-3">
                              <c-col [sm]="4">
                                <div [cFormFloating]="true" class="mb-3">
                                  <input cFormControl id="floatingInputObservations" type="text" value="{{detailKid.observations}}" readonly />
                                  <label cLabel for="floatingInput">Observaciones</label>
                                </div>
                              </c-col>
                              <c-col [sm]="4">
                                <div cFormFloating>
                                  <input cFormControl id="floatingInputCollaborator" placeholder="Password" type="text" value="{{detailKid.collaborator}}" readonly/>
                                  <label cLabel for="floatingInput">Colaborador Asignado a Sala</label>
                                </div>
                              </c-col>
                              <c-col [sm]="4">
                                <div cFormFloating>
                                  <input cFormControl id="floatingInputTutorStartDate" type="text" value="{{detailKid.startDateKid}}" readonly/>
                                  <label cLabel for="floatingInput">Fecha de Inicio en el Centro</label>
                                </div>
                              </c-col>
                            </c-row>
                          </ng-template>
                        </c-accordion-item>
                      </c-accordion>
                    </c-card-body>
                  </c-card>
                </div>
            </c-col>
            <c-col [md]="6" *ngIf="isVisiblePaymentType">
              <label cLabel>Tipo de Pago</label>
              <app-select-parameters
              [parameterList]="listPaymentType"
              [selectedValue]="selectedPaymentType"
              (onRowChange)="onSelectedPaymentType($event)"
            ></app-select-parameters
          >
            </c-col>
            <c-col [md]="6" *ngIf="isVisibleAuditPaymentType">
              <label cLabel>Operacion</label>
              <app-select-parameters
              [parameterList]="listAuditPaymentType"
              [selectedValue]="selectedAuditPaymentType"
              (onRowChange)="onSelectedAuditPaymentType($event)"
            ></app-select-parameters
          >
            </c-col>
            <c-col [md]="6" *ngIf="isVisiblePaymentOperation">
              <label cLabel>Estado del pago</label>
              <app-select-parameters
              [parameterList]="listPaymentOperation"
              [selectedValue]="selectedPaymentOperation"
              (onRowChange)="onSelectedPaymentOperation($event)"
            ></app-select-parameters
          >
            </c-col>
            <c-col [md]="6">
              <label cLabel for="nameLabel">Descripcion</label>
              <input
                type="text"
                noAutocomplete
                appOnlyLettersAndNumbers
                formControlName="description"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && f['description'].errors
                }"
                autoComplete="name"
                cFormControl
                placeholder="Ingrese Descripcion"
              />
              <div
                *ngIf="submitted && f['description'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['description'].errors['required']">
                  required
                </div>
                <div *ngIf="f['description'].errors['minlength']">
                  name must be at least 6 characters
                </div>
                <div *ngIf="f['description'].errors['maxlength']">
                  name must not exceed 50 characters
                </div>
              </div>
            </c-col>
              <c-col [md]="6">
                <label cLabel for="nameLabel">Observaciones</label>
                <input
                  type="text"
                  noAutocomplete
                  appOnlyLettersAndNumbers
                  formControlName="observations"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f['observations'].errors
                  }"
                  cFormControl
                  placeholder="Ingrese Observaciones"
                />
                <div
                  *ngIf="submitted && f['observations'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['observations'].errors['required']">
                    required
                  </div>
                  <div *ngIf="f['observations'].errors['minlength']">
                    name must be at least 6 characters
                  </div>
                  <div *ngIf="f['observations'].errors['maxlength']">
                    name must not exceed 50 characters
                  </div>
                </div>
              </c-col>
              <c-col [md]="6">
                <label cLabel for="nameLabel">Nro de Factura</label>
                <input
                  type="text"
                  noAutocomplete
                  appOnlyLettersAndNumbers
                  formControlName="numberBill"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f['numberBill'].errors
                  }"
                  cFormControl
                  placeholder="Ingrese Nro de Factura"
                />
                <div
                  *ngIf="submitted && f['numberBill'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['numberBill'].errors['required']">
                    required
                  </div>
                  <div *ngIf="f['numberBill'].errors['minlength']">
                    name must be at least 6 characters
                  </div>
                  <div *ngIf="f['numberBill'].errors['maxlength']">
                    name must not exceed 50 characters
                  </div>
                </div>
              </c-col>
              <c-col [md]="6">
                <label cLabel for="nameLabel">Monto</label>
                <input
                  type="text"
                  noAutocomplete
                  appOnlyNumbers
                  maxlength="4"
                  formControlName="amount"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f['amount'].errors
                  }"
                  cFormControl
                  placeholder="Ingrese el monto referencial"
                />
                <div
                  *ngIf="submitted && f['amount'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['amount'].errors['required']">
                    required
                  </div>
                  <div *ngIf="f['amount'].errors['minlength']">
                    name must be at least 6 characters
                  </div>
                  <div *ngIf="f['amount'].errors['maxlength']">
                    name must not exceed 50 characters
                  </div>
                </div>
              </c-col>
              <c-col [md]="6">
                <label cLabel>Fecha de Pago</label>
                <input class="form-control" placeholder="Ingrese Fecha" ngModel bsDatepicker [bsConfig]="bsConfig"
                  formControlName="dateToPay" cFormControl [ngClass]="{
                    'is-invalid': submitted && f['dateToPay'].errors
                  }" />
                <div *ngIf="submitted && f['dateToPay'].errors" class="invalid-feedback">
                  <div *ngIf="f['dateToPay'].errors['required']">Campo Requerido (*)</div>
                  <div *ngIf="f['dateToPay'].errors['minlength']">
                    Debe Contener al menos 6 caracteres
                  </div>
                  <div *ngIf="f['dateToPay'].errors['maxlength']">
                    Maximo 10 caracteres
                  </div>
                </div>
              </c-col>
              <c-col [md]="6" >
                <label cLabel>Pago Verificado</label>
                <div>
                  <label>
                    <input
                      type="radio"
                      name="generatePayments"
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="isVerified"
                      value="true"
                    />
                    Sí
                  </label>
                  <label>
                    <input
                      type="radio"
                      name="generatePayments"
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="isVerified"
                      value="false"
                    />
                    No
                  </label>
                </div>
              </c-col>
              <c-col [xs]="12">
                <button cButton type="submit" (click)="createOrUpdate()">
                  {{ this.actionRow === 0 ? "Registrar" : "Actualizar" }}
                </button>
              </c-col>
            </form>
          </c-tab-pane>
        </c-tab-content>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-alert color="info" *ngIf="!isVisible">{{ message }}</c-alert>
<app-global-alerts
  *ngIf="visible"
  [visible]="visible"
  [message]="message"
></app-global-alerts>

