<p>parents works!</p>
<c-row ngPreserveWhitespaces>
  <!--<c-col xs="12">
  </c-col>
  <c-col xs="6">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Select</strong> <small>Default</small>
      </c-card-header>
      <c-card-body>
        <app-select-parameters [parameterList]="listTypes" (onRowChange)="selectUser($event)"></app-select-parameters>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="6">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Select</strong> <small>Default 2</small>
      </c-card-header>
      <c-card-body>
        <app-select-parameters [parameterList]="listTypes" (onRowChange)="selectUser($event)"></app-select-parameters>

      </c-card-body>
    </c-card>
  </c-col>-->


  <c-col xs="12">
    <c-card class="mb-3">
      <c-card-header ngPreserveWhitespaces>
        <strong>Angular Tabs</strong> <small>pills</small>
      </c-card-header>
      <c-card-body>
        <c-nav variant="pills">
          <c-nav-item>
            <a [cTabContent]="tabContent3" [routerLink] [tabPaneIdx]="0" cNavLink (click)="getParameters()">
              <svg cIcon class="me-2" name="cilHome"></svg>
              Busqueda
            </a>
          </c-nav-item>
          <c-nav-item>
            <a [cTabContent]="tabContent3" [routerLink] [tabPaneIdx]="1" cNavLink>
              <svg cIcon class="me-2" name="cilUser"></svg>
              Creacion
            </a>
          </c-nav-item>
             <!--<c-nav-item>
            <a [cTabContent]="tabContent3" [routerLink] [tabPaneIdx]="2" cNavLink>
              <svg cIcon class="me-2" name="cilCode"></svg>
              Contact
            </a>
          </c-nav-item>-->
        </c-nav>
        <c-tab-content #tabContent3="cTabContent" cRounded="bottom" [activeTabPaneIdx]="0">
          <c-tab-pane aria-labelledby="docs-code-preview" class="p-3 preview" role="tabpanel">
            <strong>{{typeName}}</strong> <small>100 registros encontrados</small>
            <p class="text-medium-emphasis small">
              Servicio para administrar parametros del sistema, modulo de {{typeName.toUpperCase()}}, para crear
              un nuevo registro presione:
              <code>Crear Registro</code>
            </p>
            <table cTable *ngIf="isVisible">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Ciudad</th>
                  <th scope="col">Sucursal</th>
                  <th scope="col">Creado por: </th>
                  <th scope="col">Creado en: </th>
                  <th scope="col">Modificado en:</th>
                  <th scope="col">Acciones</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of listTypes">
                  <td>{{row.name}} {{row.firstLastName}} {{row.secondLastName}}</td>
                  <td>
                    <c-badge class="me-1" color="{{row.isDeleted ? 'danger' : 'success'}}">{{(row.isDeleted ?
                      'INACTIVO' :
                      'ACTIVO')}}</c-badge>
                  </td>
                  <td>{{row.cityAssigned }}</td>
                  <td>{{row.branchOfficeAssigned }}</td>
                  <td>{{row.userCreation}}</td>
                  <td>{{row.dateCreation | date:'medium' }}</td>
                  <td>{{row.dateModification | date:'medium'}}</td>
                  <td>
                    <button color='warning' cButton class="me-1" shape="rounded-pill" (click)="editRow(row)">
                      Editar
                    </button>
                  </td>
                  <td>
                    <button color='danger' cButton class="me-1" shape="rounded-pill">
                      Eliminar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </c-tab-pane>
          <c-tab-pane aria-labelledby="docs-code-preview" class="p-3 preview" role="tabpanel">
            <form cForm class="row g-3">
              <c-col [md]="6">
                <label cLabel for="inputEmail4">Email</label>
                <input cFormControl id="inputEmail4" type="email" />
              </c-col>
              <c-col [md]="6">
                <label cLabel for="inputPassword4">Password</label>
                <input cFormControl id="inputPassword4" type="password" />
              </c-col>
              <c-col [xs]="12">
                <label cLabel for="inputAddress">Address</label>
                <input cFormControl id="inputAddress" placeholder="1234 Main St" />
              </c-col>
              <c-col [xs]="12">
                <label cLabel for="inputAddress2">Address 2</label>
                <input cFormControl id="inputAddress2" placeholder="Apartment, studio, or floor" />
              </c-col>
              <c-col [md]="6">
                <label cLabel for="inputCity">City</label>
                <input cFormControl id="inputCity" />
              </c-col>
              <c-col [md]="4">
                <label cLabel for="inputState">State</label>
                <select cSelect id="inputState">
                  <option>Choose...</option>
                  <option>...</option>
                </select>
              </c-col>
              <c-col [md]="2">
                <label cLabel for="inputZip">Zip</label>
                <input cFormControl id="inputZip" />
              </c-col>
              <c-col [xs]="12">
                <c-form-check>
                  <input cFormCheckInput id="gridCheck" name="gridCheck" type="checkbox" />
                  <label cFormCheckLabel for="gridCheck">Check me out</label>
                </c-form-check>
              </c-col>
              <c-col [xs]="12">
                <button cButton type="submit">Sign in</button>
              </c-col>
            </form>
          </c-tab-pane>
          <c-tab-pane aria-labelledby="docs-code-preview" class="p-3 preview" role="tabpanel">
            This is some placeholder content the <strong>Contact</strong> tab's associated content. Clicking another
            tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the
            content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.
          </c-tab-pane>
        </c-tab-content>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-alert color="info" *ngIf="!isVisible">{{message}}</c-alert>

<app-global-alerts *ngIf="visible" [visible]="visible" [message]="message"></app-global-alerts>

<ng-template #liveDemo>
  <button (click)="openModal()" cButton>Crear Registro</button>
  <c-modal id="liveDemoModal" [visible]="liveDemoVisible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
      <h5 cModalTitle>{{actionRow === 0 ? 'Crear' : 'Actualizar'}} Registro</h5>
      <button (click)="closeModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <c-col xs="12">
        <c-card class="mb-4">
          <c-card-body>
            <form cForm [formGroup]="form">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Nombre</label>
                <input type="text" formControlName="name" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" autoComplete="name" cFormControl
                  placeholder="Nombre" />
                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                  <div *ngIf="f['name'].errors['required']">name is required</div>
                  <div *ngIf="f['name'].errors['email']">Email is invalid</div>
                  <div *ngIf="f['name'].errors['minlength']">
                    name must be at least 6 characters
                  </div>
                  <div *ngIf="f['name'].errors['maxlength']">
                    name must not exceed 20 characters
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label cLabel for="exampleFormControlTextarea1">Iniciales</label>
                <input type="text" formControlName="initial" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['initial'].errors }" autoComplete="initial" cFormControl
                  placeholder="Iniciales" />
                <div *ngIf="submitted && f['initial'].errors" class="invalid-feedback">
                  <div *ngIf="f['initial'].errors['required']">name is required</div>
                  <div *ngIf="f['initial'].errors['email']">Email is invalid</div>
                  <div *ngIf="f['initial'].errors['minlength']">
                    Iniciales must be at least 6 characters
                  </div>
                  <div *ngIf="f['initial'].errors['maxlength']">
                    Iniciales must not exceed 20 characters
                  </div>
                </div>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="closeModal()" cButton color="secondary">
        Close
      </button>
      <button cButton color="primary" (click)="createOrUpdate()">Save changes</button>
    </c-modal-footer>
  </c-modal>
</ng-template>
