<c-row ngPreserveWhitespaces>
  <!--<c-col xs="12">
  </c-col>
  <c-col xs="6">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Select</strong> <small>Default</small>
      </c-card-header>
      <c-card-body>
        <app-select-parameters [parameterList]="listTypes" (onRowChange)="selectUser($event)"></app-select-parameters>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="6">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Select</strong> <small>Default 2</small>
      </c-card-header>
      <c-card-body>
        <app-select-parameters [parameterList]="listTypes" (onRowChange)="selectUser($event)"></app-select-parameters>

      </c-card-body>
    </c-card>
  </c-col>-->


  <c-col xs="12">
    <c-card class="mb-3">
      <c-card-header ngPreserveWhitespaces>
        <strong>Seguimiento y Control de Ninos</strong> <small></small>
      </c-card-header>
      <c-card-body>
        <c-nav variant="pills">
          <c-nav-item>
            <a [cTabContent]="tabContent3" [routerLink] [tabPaneIdx]="0" cNavLink (click)="getParameters()">
              <svg cIcon class="me-2" name="cilHome"></svg>
              Busqueda
            </a>
          </c-nav-item>
          <c-nav-item>
            <a [cTabContent]="tabContent3" [routerLink] [tabPaneIdx]="1" cNavLink>
              <svg cIcon class="me-2" name="cilUser"></svg>
              Gestion
            </a>
          </c-nav-item>
          <!--<c-nav-item>
            <a [cTabContent]="tabContent3" [routerLink] [tabPaneIdx]="2" cNavLink>
              <svg cIcon class="me-2" name="cilCode"></svg>
              Contact
            </a>
          </c-nav-item>-->
        </c-nav>
        <c-tab-content #tabContent3="cTabContent" cRounded="bottom" [activeTabPaneIdx]="0">
          <c-tab-pane aria-labelledby="docs-code-preview" class="p-3 preview" role="tabpanel">
            <strong>{{typeName}}</strong> <small>100 registros encontrados</small>
            <p class="text-medium-emphasis small">
              Servicio para administrar parametros del sistema, modulo de {{typeName.toUpperCase()}}, para crear
              un nuevo registro ingrese a:
              <code>Gestion</code>
            </p>
            <table cTable *ngIf="isVisible">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Fecha de Nacimiento</th>
                  <th scope="col">Edad</th>
                  <th scope="col">Creado por: </th>
                  <th scope="col">Creado en: </th>
                  <th scope="col">Modificado en:</th>
                  <th scope="col">Acciones</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of listTypes">
                  <td>{{row.name}} {{row.firstLastName}} {{row.secondLastName}}</td>
                  <td>
                    <c-badge class="me-1" color="{{row.isPlanified ? 'danger' : 'success'}}">{{(row.isPlanified ?
                      'INACTIVO' :
                      'ACTIVO')}}</c-badge>
                  </td>
                  <td>{{row.bornDate | date:'medium' }}</td>
                  <td>{{row.age }}</td>
                  <td>{{row.userCreation}}</td>
                  <td>{{row.dateCreation | date:'medium' }}</td>
                  <td>{{row.dateModification | date:'medium'}}</td>
                  <td>
                    <button color='warning' cButton class="me-1" shape="rounded-pill" (click)="editRow(row)">
                      Editar
                    </button>
                  </td>
                  <td>
                    <button color='danger' cButton class="me-1" shape="rounded-pill">
                      Eliminar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </c-tab-pane>
          <c-tab-pane aria-labelledby="docs-code-preview" class="p-3 preview" role="tabpanel">
            <form cForm class="row g-3" [formGroup]="form">
              <c-col [md]="6">
                <label cLabel>Fecha de Nacimiento</label>
                    <input class="form-control"
                           placeholder="Ingrese Fecha"
                           ngModel
                           bsDatepicker
                           [bsConfig]="bsConfig"
                           formControlName="bornDate"
                           >
              </c-col>
              <c-col [md]="6">
                <label cLabel for="nameLabel">Nombre</label>
                <input type="text" formControlName="name" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" autoComplete="name" cFormControl
                  placeholder="Ingrese Nombre" />
                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                  <div *ngIf="f['name'].errors['required']">name is required</div>
                  <div *ngIf="f['name'].errors['email']">Email is invalid</div>
                  <div *ngIf="f['name'].errors['minlength']">
                    name must be at least 6 characters
                  </div>
                  <div *ngIf="f['name'].errors['maxlength']">
                    name must not exceed 20 characters
                  </div>
                </div>
              </c-col>
              <c-col [md]="6">
                <label cLabel for="lastNameLabel">Apellido Paterno</label>
                <input type="text" formControlName="lastName" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" autoComplete="lastName" cFormControl
                  placeholder="Ingrese Apellido Paterno" />
                <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                  <div *ngIf="f['lastName'].errors['required']">Last Name is required</div>
                  <div *ngIf="f['lastName'].errors['minlength']">
                    name must be at least 6 characters
                  </div>
                  <div *ngIf="f['lastName'].errors['maxlength']">
                    name must not exceed 20 characters
                  </div>
                </div>
              </c-col>
              <c-col [md]="6">
                <label cLabel for="secondLastNameLabel">Apellido Materno</label>
                <input type="text" formControlName="secondLastName" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['secondLastName'].errors }" autoComplete="secondLastName" cFormControl
                  placeholder="Ingrese Apellido Materno" />
                <div *ngIf="submitted && f['secondLastName'].errors" class="invalid-feedback">
                  <div *ngIf="f['secondLastName'].errors['required']">Last Name is required</div>
                  <div *ngIf="f['secondLastName'].errors['minlength']">
                    name must be at least 6 characters
                  </div>
                  <div *ngIf="f['secondLastName'].errors['maxlength']">
                    name must not exceed 20 characters
                  </div>
                </div>
              </c-col>
              <c-col [md]="6" *ngIf="isVisibleSex">
                <label cLabel>Sexo</label>
                <app-select-parameters [parameterList]="listSexs" ></app-select-parameters>
              </c-col>
              <c-col [md]="6" *ngIf="isVisibleBlood">
                <label cLabel>Tipo de Sangre</label>
                <app-select-parameters [parameterList]="listBloods" ></app-select-parameters>
              </c-col>
              <c-col [md]="6" *ngIf="isVisibleDocumentType">
                <label cLabel>Tipo de Documento</label>
                <app-select-parameters [parameterList]="listDocumentTypes" ></app-select-parameters>
              </c-col>
              <c-col [md]="6">
                <label cLabel for="documentNumberLabel">Numero de Documento</label>
                <input type="text" formControlName="documentNumber" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['documentNumber'].errors }" autoComplete="documentNumber" cFormControl
                  placeholder="Ingrese Numero de Documento" />
                <div *ngIf="submitted && f['documentNumber'].errors" class="invalid-feedback">
                  <div *ngIf="f['documentNumber'].errors['required']">Last Name is required</div>
                  <div *ngIf="f['documentNumber'].errors['minlength']">
                    name must be at least 6 characters
                  </div>
                  <div *ngIf="f['documentNumber'].errors['maxlength']">
                    name must not exceed 20 characters
                  </div>
                </div>
              </c-col>
              <c-col [md]="6">
                <label cLabel for="placeBornLabel">Lugar de Nacimiento</label>
                <input type="text" formControlName="placeBorn" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['placeBorn'].errors }" autoComplete="placeBorn" cFormControl
                  placeholder="Ingrese Lugar de Nacimiento" />
                <div *ngIf="submitted && f['placeBorn'].errors" class="invalid-feedback">
                  <div *ngIf="f['placeBorn'].errors['required']">Last Name is required</div>
                  <div *ngIf="f['placeBorn'].errors['minlength']">
                    name must be at least 6 characters
                  </div>
                  <div *ngIf="f['placeBorn'].errors['maxlength']">
                    name must not exceed 20 characters
                  </div>
                </div>
              </c-col>
              <c-col [md]="6">
                <label cLabel>Fecha de Inicio en el Centro</label>
                    <input class="form-control"
                           placeholder="Ingrese Fecha"
                           ngModel
                           bsDatepicker
                           [bsConfig]="bsConfig"
                           formControlName="startDate"
                           >
              </c-col>
              <c-col [xs]="12">
                <button cButton type="submit" (click)="createOrUpdate()">Registrar</button>
              </c-col>
            </form>
          </c-tab-pane>
        </c-tab-content>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-alert color="info" *ngIf="!isVisible">{{message}}</c-alert>
<app-global-alerts *ngIf="visible" [visible]="visible" [message]="message"></app-global-alerts>

<ng-template #liveDemo>
  <button (click)="openModal()" cButton>Crear Registro</button>
  <c-modal id="liveDemoModal" [visible]="liveDemoVisible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
      <h5 cModalTitle>{{actionRow === 0 ? 'Crear' : 'Actualizar'}} Registro</h5>
      <button (click)="closeModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <c-col xs="12">
        <c-card class="mb-4">
          <c-card-body>
            <form cForm [formGroup]="form">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Nombre</label>
                <input type="text" formControlName="name" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" autoComplete="name" cFormControl
                  placeholder="Nombre" />
                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                  <div *ngIf="f['name'].errors['required']">name is required</div>
                  <div *ngIf="f['name'].errors['email']">Email is invalid</div>
                  <div *ngIf="f['name'].errors['minlength']">
                    name must be at least 6 characters
                  </div>
                  <div *ngIf="f['name'].errors['maxlength']">
                    name must not exceed 20 characters
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label cLabel for="exampleFormControlTextarea1">Iniciales</label>
                <input type="text" formControlName="initial" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['initial'].errors }" autoComplete="initial" cFormControl
                  placeholder="Iniciales" />
                <div *ngIf="submitted && f['initial'].errors" class="invalid-feedback">
                  <div *ngIf="f['initial'].errors['required']">name is required</div>
                  <div *ngIf="f['initial'].errors['email']">Email is invalid</div>
                  <div *ngIf="f['initial'].errors['minlength']">
                    Iniciales must be at least 6 characters
                  </div>
                  <div *ngIf="f['initial'].errors['maxlength']">
                    Iniciales must not exceed 20 characters
                  </div>
                </div>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="closeModal()" cButton color="secondary">
        Close
      </button>
      <button cButton color="primary" (click)="createOrUpdate()">Save changes</button>
    </c-modal-footer>
  </c-modal>
</ng-template>
