<app-widgets-dropdown [dashboardData]="dashboardData" *ngIf="isVisibleFisrtSection"></app-widgets-dropdown>
<c-card class="mb-4" *ngIf="isVisibleFisrtSection">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">
          Inscripciones
        </h4>
        <div class="small text-medium-emphasis">Enero - Diciembre 2023</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <button cButton class="float-end" color="primary">
          <svg cIcon name="cilCloudDownload"></svg>
        </button>
        <form [formGroup]="trafficRadioGroup">
          <c-button-group class="float-end me-3" role="group">
            <!--<input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Day"
            />
            <label
              (click)="setTrafficPeriod('Day')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Day</label>-->

            <input class="btn-check" formControlName="trafficRadio" type="radio" value="Month" />
            <label (click)="setTrafficPeriod('Month')" cButton cFormCheckLabel color="secondary"
              variant="outline">Mes</label>

            <!--<input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Year"
            />
            <label
              (click)="setTrafficPeriod('Year')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Year</label>-->
          </c-button-group>
        </form>
      </c-col>
    </c-row>
    <c-chart [data]="mainChart.data" [height]="300" [ngStyle]="{'marginTop.px': 40}" [options]="mainChart.options"
      [type]="mainChart.type">
      Main chart
    </c-chart>
  </c-card-body>
  <c-card-footer>
    <c-row class="text-center" [md]="5" [xs]="1">
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Cantidad total de ninos Registrados</div>
        <strong>{{dashboardData.quantityTotalChildren}}</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="success" value="40"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Cantidad de Papas Registrados</div>
        <strong>{{dashboardData.quantityTotalParents}}</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="info" value="20"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Cantidad de Colaboradores trabajando</div>
        <strong>{{dashboardData.quantityTotalCollaborators}}</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="warning" value="60"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Cantidad Total de Pagos Registrados</div>
        <strong>{{dashboardData.quantityTotalPayments}}</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="danger" value="80"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Cantidad de Inscripciones</div>
        <strong>{{dashboardData.quantityTotalInscriptions}}</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar value="40"></c-progress-bar>
        </c-progress>
      </c-col>
    </c-row>
  </c-card-footer>
</c-card>

<!--<app-widgets-brand [withCharts]="true"></app-widgets-brand>-->
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Colaboradores Actualmente Trabajando en las sucursales</c-card-header>
      <c-card-body>
        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th>Nombre Completo</th>
              <th class="text-center">Country</th>
              <th>Ninos asignados</th>
              <th>Ciudad/Sucursal</th>
              <th class="text-center">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; index as i">
              <td class="text-center">
                <c-avatar size="md" src="{{ user.avatar }}" status="{{ user.status }}"></c-avatar>
              </td>
              <td>
                <div>{{ user.name }}</div>
                <div class="small text-medium-emphasis">
                  <span>{{ user.state }}</span> | Registered:
                  {{ user.registered }}
                </div>
              </td>
              <td class="text-center">
                <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="20" height="4.33333" fill="#D52B1E"/>
                  <rect y="4.33333" width="20" height="4.33333" fill="#F7D116"/>
                  <rect y="8.66667" width="20" height="4.33333" fill="#1B5E20"/>
                </svg>


                <!--<svg cIcon id="{{ user.country + user.name }}" name="cif{{ user.country }}" size="xl"
                  title="{{ user.country }}"></svg>-->
              </td>
              <td>
                <div class="clearfix">
                  <div class="float-start">
                    <strong>{{ user.usage }}%</strong>
                  </div>
                  <div class="float-end">
                    <small class="text-medium-emphasis">
                      {{ user.period }}
                    </small>
                  </div>
                </div>
                <c-progress thin>
                  <c-progress-bar [value]="user.usage" color="{{ user.color }}"></c-progress-bar>
                </c-progress>
              </td>
              <td class="text-center">
                <svg cIcon name="cibCc{{ user.payment }}" size="xl"></svg>
              </td>
              <td>
                <div class="small text-medium-emphasis">Last login</div>
                <strong>{{ user.activity }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
