.custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 1em;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"/></svg>');
  background-repeat: no-repeat;
  background-position: right .7em top 50%;
  background-size: 1em auto;
  cursor: pointer;
}

.custom-select select:focus {
  outline: none;
  box-shadow: none;
}

.custom-select select::-ms-expand {
  display: none;
}
